<!-- start custom head snippets -->

  
    <!-- 다국어 CDN -->
    <div class="gtranslate_wrapper">
        <script>
            window.gtranslateSettings = {
                "default_language":"ko",
                "detect_browser_language":true,
                "languages":["es","de","th","mn","ar","ko","en","ja","zh-CN"],
                // "languages":["de","ko","en"],
                "wrapper_selector":".gtranslate_wrapper",
                "flag_size":20,
                "horizontal_position":"right",
                "vertical_position":"top"
            }
        </script>
        <script src="https://cdn.gtranslate.net/widgets/latest/flags.js" defer></script>
    </div>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
