<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
    {% else %}
      {{ page.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/assets/image/apple-touch-icon-precomposed.png' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/image/favicon.ico' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'atom.xml' | relative_url }}">

  <!-- highlight.js 스타일 추가 (다크 테마) -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">
  {% seo title=false %}
</head>
