// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  // 직접 설정 : overflow & nowrap
  white-space: nowrap;
  overflow-x: scroll;

  // 기본 설정
  width: 85%;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
}

blockquote, ul {
  width: 100%;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}

.nav-prev, .nav-next {
  display: block;
  border: 0.5px solid currentColor;
  border-radius: 5px;
  width: 50%;
  height: 70px;
  font-size: 1.3rem;
  text-align: center;
  justify-self: center;
}

.nav-container {
  display: flex;
  flex-flow: nowrap row;
  // 하위 a 태그의 밑줄 삭제
  a {
    text-decoration-line: none;
  }
}

details{
  // margin-top: 0.5%;
  padding: 0.5%;
}
details /* details */ {
  border: solid 0.1px gray;
  border-radius: 10px;
  margin-top: 1%;
  padding: 1.5%;
}

.rec {
  width: fit-content;
  border: solid 0.1px currentColor;
  margin-top: 1%;
  padding: 1.5%;
}

.bg-bk {
  background-color: black;
}
