---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  
  <div class="navigation">
    {% if page.previous %}
      <a href="{{ page.previous.url }}">이전 글</a> : {{ page.previous.title }}
    {% endif %}
    <br>
    {% if page.next %}
      <a href="{{ page.next.url }}">다음 글</a> : {{ page.next.title }}
    {% endif %}
  </div>

  {{ content }}

</article>


<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">이전 글</a>
  {% else %}
    <span class="pagination-item older">이전 글</span>
  {% endif %}
  
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">다음 글</a>
  {% else %}
    <span class="pagination-item newer">다음 글</span>
  {% endif %}
</div>


{% if site.related_posts != empty %}
<aside class="related">
  <h3>Another postings</h3>
  <ul class="related-posts">
    {% assign reversed_related_posts = site.related_posts | reverse %}
    {% for post in reversed_related_posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}