---
layout: default
---

<!-- 다국어 CDN -->
<div class="gtranslate_wrapper">
  <script>window.gtranslateSettings = {
              "default_language":"ko",
              "detect_browser_language":true,
              "languages":["es","de","th","mn","ar","ko","en","ja","zh-CN"],
              // "languages":["de","ko","en"],
              "wrapper_selector":".gtranslate_wrapper",
              "flag_size":20,
              "horizontal_position":"right",
              "vertical_position":"top"
          }
    </script>
  <script src="https://cdn.gtranslate.net/widgets/latest/flags.js" defer></script>
</div>


<!-- 조회수 확인  -->
<a href="https://hits.seeyoufarm.com">
  <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Feasehee.github.io&count_bg=%23555555&title_bg=%23555555&icon=github.svg&icon_color=%23FFFFFF&title=hits&edge_flat=false"/>
</a>


<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  
  <!-- 페이지네이션 처리 -->

 <div class="navigation nav-container">
  {% assign previous_post = site.posts | where: "category", page.category | sort: "date" %}
  {% assign previous_post = nil %} <!-- 이전 글이 없을 경우 else로 처리되도록 -->
  {% assign next_posts = site.posts | where: "category", page.category | sort: "date" %}
  <!-- nil 을 넣으면 가장 마지막 글만 조회된다. -->

  {% for post in site.posts %}
    {% if post.date < page.date %}
      {% if post.category == page.category %}
        {% assign previous_post = post %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for post in next_posts %}
    {% if post.date > page.date %}
      {% assign next_post = post %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if previous_post %}
    {% if next_post %}
      <a class="nav-prev" href="{{ previous_post.url }}">이전 글<br>{{ previous_post.title }}</a> <a class="nav-next" href="{{ next_post.url }}">다음 글<br>{{ next_post.title }}</a>
    {% else %}
      <a class="nav-prev" href="{{ previous_post.url }}">이전 글<br>{{ previous_post.title }}</a> <span class="nav-next">다음 글</span>
    {% endif %}
  {% else %}
    {% if next_post %}
      <span class="nav-prev" >이전 글</span> <a class="nav-next" href="{{ next_post.url }}">다음 글<br>{{ next_post.title }}</a>
    {% else %}
      <span class="nav-prev" >이전 글</span> <span class="nav-next">다음 글</span>
    {% endif %}
  {% endif %}
</div>


  {{ content }}
  
  <!-- 댓글 기능 [utterance] -->
  <div style="text-align: left;">
    <script src="https://utteranc.es/client.js"
            repo="EaseHee/EaseHee.github.io"
            issue-term="pathname"
            theme="github-dark"
            crossorigin="anonymous"
            async>
    </script>
  </div>

</article>  


<!-- 
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">이전 글</a>
  {% else %}
    <span class="pagination-item older">이전 글</span>
  {% endif %}
  
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">다음 글</a>
  {% else %}
    <span class="pagination-item newer">다음 글</span>
  {% endif %}
</div> -->

<!-- 
{% if site.related_posts != empty %}
<aside class="related">
  <h3>Another postings</h3>
  <ul class="related-posts">
    {% assign reversed_related_posts = site.related_posts | reverse %}
    {% for post in reversed_related_posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
 -->

<hr>

 <div class="navigation nav-container">
  {% assign previous_post = site.posts | where: "category", page.category | sort: "date" %}
  {% assign previous_post = nil %} <!-- 이전 글이 없을 경우 else로 처리되도록 -->
  {% assign next_posts = site.posts | where: "category", page.category | sort: "date" %}
  <!-- nil 을 넣으면 가장 마지막 글만 조회된다. -->

  {% for post in site.posts %}
    {% if post.date < page.date %}
      {% if post.category == page.category %}
        {% assign previous_post = post %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for post in next_posts %}
    {% if post.date > page.date %}
      {% assign next_post = post %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if previous_post %}
    {% if next_post %}
      <a class="nav-prev" href="{{ previous_post.url }}">이전 글<br>{{ previous_post.title }}</a> <a class="nav-next" href="{{ next_post.url }}">다음 글<br>{{ next_post.title }}</a>
    {% else %}
      <a class="nav-prev" href="{{ previous_post.url }}">이전 글<br>{{ previous_post.title }}</a> <span class="nav-next">다음 글</span>
    {% endif %}
  {% else %}
    {% if next_post %}
      <span class="nav-prev" >이전 글</span> <a class="nav-next" href="{{ next_post.url }}">다음 글<br>{{ next_post.title }}</a>
    {% else %}
      <span class="nav-prev" >이전 글</span> <span class="nav-next">다음 글</span>
    {% endif %}
  {% endif %}
</div>
<br>



  

